# Backend
API_PORT=3001
COINGECKO_BASE=https://api.coingecko.com/api/v3
JWT_SECRET=supersecret
JWT_EXPIRES_IN="1d"
LOG_LEVEL=info

# DB (MySQL)
DATABASE_URL=mysql://app:app@db:3306/cripto

# Shadow DB (para melhores diffs)
SHADOW_DATABASE_URL="mysql://root:root@db:3306/cripto_shadow"

# Frontend
VITE_API_URL=http://localhost:3001

# CORS (origens permitidas para o frontend)
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173